/* NAVBAR */
.navbar {
    background-color: red;
    width: 100%;
    padding: 20px 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; 
    top: 0;
    z-index:1000;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur 8px;
}

